/* Fonts */
@font-face {
  font-family: SanFrancisco;
  src: url(sf-pro-display-semibold.otf);
  font-weight: 400;
}
@font-face {
  font-family: SanFrancisco;
  src: url(sf-pro-display-heavy.otf);
  font-weight: 700;
}
/* Div */
div.nav-menu{
 font-family: "SanFrancisco";
 text-decoration: none !important;
 text-align: left;
 background-color: rgb(56, 56, 56) !important;
 height: 64px !important;
 width: 98% !important;
 margin: 1% !important;
 margin-bottom: 12px !important;
 border-radius: 18px;
}
img.nav-img{
 display: inline-block;
 height: 50px;
 padding: 7px;
/* Body */
body{
 margin: 0px !important;
 color: rgb(56,56,56) !important;
 font-family: 'SanFrancisco';
 line-height: 10px;
 text-align: center !important;
 background-image: url("background.png") !important;
 background-size: 600px 800px !important;
 background-attachment:scroll !important;
 background-repeat:repeat !important;
}
