/* Fonts */
@font-face {
  font-family: SanFrancisco;
  src: url(sf-pro-display-semibold.otf);
  font-weight: 400;
}
@font-face {
  font-family: SanFrancisco;
  src: url(sf-pro-display-heavy.otf);
  font-weight: 700;
}
/* Navbar */
nav{
 font-family:"SanFrancisco";
 text-decoration: none;
 text-align: center;
 background-color: rgba(30, 30, 30, 0.8);
 height: 48px;
 width: 30% !important;
 margin-left: 35%;
 margin-right: 35%;
 margin-top: 5px;
 border-radius: 12px;
}
/* Div */
div.nav-menu{
 font-family:"SanFrancisco";
 text-decoration: none;
 text-align: center;
 background-color: rgba(30, 30, 30, 0.8) !important;
 height: 48px !important;
 width: 30% !important;
 margin-left: 35%;
 margin-right: 35%;
 margin-top: 5px;
 border-radius: 12px;
}
img.nav-img{
 display: inline-block;
 height: 36px;
 padding-top: 6px;
/* Body */
body{
 margin-left:0px;
 margin-right:0px;
 margin-top:0px;
 margin-bottom:0px;
 color:#c6c6c6;
 font-family:'SanFrancisco';
 line-height:10px;
 text-align: center;
 background-image:url("background.png") !important;
 background-size:600px 800px;
 background-attachment:scroll;
 background-repeat:repeat;
}
